<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="~{fragments/head}"/>
</head>
<body  th:background="${url}">
<header>
    <th:block th:include="~{fragments/navbar}"/>
</header>
<main class="container fill">
<div class="row text-center justify-content-center">
    <th:block th:each="category : ${categories}" th:object="${category}">
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" th:src="*{image}" th:alt="*{name}">
                <div class="card-body">
                    <h4 class="card-title">[[*{name}]]</h4>
                    <p class="card-text">[[*{description}]]</p>
                </div>
                <div class="card-footer">
                    <a th:href="@{/category/edit/{id}(id=${category.id})}" class="btn btn-info">Обнови категорията</a>
                </div>
            </div>
        </div>
    </th:block>
</div>
</main>

    <th:block th:include="~{fragments/footer}"/>
</body>
<script>
    $(".navbar ul li a").each(function () {
        if(this.href === window.location.href){
            $(this).parent().addClass("active")
        }
    })
</script>
</html>
